emulatorSrc/build/
emulatorSrc/output/

emulatorSrc/logs/info
emulatorSrc/logs/warninig
emulatorSrc/logs/error
emulatorSrc/logs/fatal


lancherSrc/dist/
lancherSrc/node_modules/
serverSrc/node_modules/
serverSrc/coverage/